html {
  font-size: 100px;
}
#city {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #d1c6af;
  background: rgba(255, 255, 255, 0.95);
  height: 0.32rem;
}
#city .title {
  background: url("../images/logo.png") no-repeat center center;
  text-indent: -99rem;
  width: 100%;
  height: 100%;
  line-height: 0.43rem;
  font-size: 0.12rem;
  color: #8c7d5c;
  background-size: 0.94rem 0.1rem;
  display: inline-block;
  overflow: hidden;
}
#city .glyphicon {
  position: relative;
  top: -0.3rem;
  left: 0.12rem;
}
#city a {
  font-size: 0.12rem;
  color: #a38d6b;
  height: 0.15rem;
}
#city a span {
  font-size: 0.12rem;
  color: #a38d6b;
}
#city a:hover {
  text-decoration: none;
}
.city-selector {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.city-selector .hide {
  display: none;
}
.city-selector .mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: .6;
}
.city-selector .city-modal {
  position: absolute;
  left: 50%;
  top: 105px;
  width: 270px;
  margin-left: -135px;
  background: white;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}
.city-selector .city-modal .header {
  padding: 0.12rem 0.18rem;
  box-sizing: border-box;
}
.city-selector .city-modal .header p {
  margin: 0rem;
}
.city-selector .city-modal .header p strong {
  font-size: 0.15rem;
}
.city-selector .city-modal .header h1 {
  font-size: 0.15rem;
  margin: 0rem 0rem 0.1rem;
  text-align: center;
}
.city-selector .city-modal .content {
  background: url('../images/bg-cities.png');
  background-size: 271px auto;
  border-radius: 0px 0px 0.04rem  0.04rem;
  padding: 0.12rem 0.18rem;
}
.city-selector .city-modal .content h3 {
  font-size: 0.15rem;
  margin: 0;
}
.city-selector .city-modal .content .cities {
  height: 1.30rem;
}
.city-selector .city-modal .content .cities a {
  display: block;
  width: 25%;
  float: left;
  padding: 0.08rem 0.06rem;
  color: #515151;
}
.city-selector .city-modal .content .cities a .active {
  color: #a38d6b;
}
.zhou .carousel-indicators {
  left: 85%;
}
.zhou .swiper-wrapper {
  height: 5.83rem;
}
.zhou .swiper-slide {
  text-align: center;
  font-size: 0.18rem;
  background: #fff;
  width: 3.75rem;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.zhou .swiper-slide a {
  width: 3.75rem;
  height: 5.83rem;
}
.zhou .swiper-slide img {
  left: 50%;
  height: 100%;
  width: auto;
  max-width: none;
  min-width: 100%;
}
.zhou .swiper-container-horizontal > .swiper-pagination-bullets {
  left: 1.2rem;
}
.zhou .swiper-pagination-bullet-active {
  background: #a79774;
}
.zhou_goods {
  background: white;
}
.zhou_goods .title {
  margin: 0rem 0.15rem;
  text-align: center;
}
.zhou_goods .title h1 {
  border-top: 1px solid #8c7d5c;
  padding: 0.12rem 0 0;
  font-size: 0.15rem;
  margin-bottom: 0.02rem;
}
.zhou_goods .title h2 {
  font-size: 0.15rem;
  margin: 0rem;
}
.zhou_goods .catetory {
  margin-top: 0.15rem;
  padding: 0 0.12rem;
}
.zhou_goods .catetory ul li:first-child {
  margin-right: 0.08rem;
}
.zhou_goods .catetory ul li:nth-child(3) {
  margin-right: 0.08rem;
}
.zhou_goods .catetory ul li:nth-child(5) {
  margin-right: 0.08rem;
}
.zhou_goods .catetory ul li {
  width: 48%;
  display: inline-block;
}
.zhou_goods .catetory ul li img {
  width: 100%;
}
.zhou_goods .catetory ul li h3 {
  font-size: 0.13rem;
  margin: 0.10rem 0rem  0rem;
}
.zhou_goods .catetory ul li p {
  font-size: 0.11rem;
  margin: 0rem;
}
.zhou_goods .catetory ul li .shopicon {
  width: 0.12rem;
  height: 0.12rem;
  display: block;
  color: white;
  position: relative;
  top: -0.12rem;
  left: 1.55rem;
  background: #ff4f00;
  text-align: center;
  line-height: 0.12rem;
}
.zhou_more {
  text-align: center;
  background: #f9f9f9;
  padding: 0.12rem 0 0;
}
.zhou_more h2 {
  font-size: 0.13rem;
  color: #8c7d5c;
  margin: 0;
}
.zhou_more a {
  color: #8c7d5c;
}
.zhou_footer {
  padding: 0.20rem 0 0.15rem;
  display: flex;
  justify-content: space-around;
}
.zhou_footer div:first-child {
  text-align: center;
  margin-left: 0.95rem;
}
.zhou_footer div:first-child p {
  font-size: 0.12rem;
  color: #5c5c5c;
}
.zhou_footer div:nth-child(2) {
  text-align: center;
  margin-right: 0.45rem;
}
.zhou_footer div:nth-child(2) p {
  font-size: 0.12rem;
  color: #5c5c5c;
}
.zhou_h4 {
  text-align: center;
  font-size: 0.12rem;
  color: #5c5c5c;
}
.nav_index {
  width: 100%;
  height: 54px;
  position: fixed;
  background: white;
  bottom: 0;
  left: 0;
}
.nav_index ul {
  width: 100%;
  height: 100%;
  font-size: 0;
  border-top: 1px solid #a38d6b;
}
.nav_index li {
  position: relative;
  display: inline-block;
  width: 20%;
  font-size: 0;
}
.nav_index li span {
  display: inline-block;
  width: 100%;
}
.nav_index .span_img {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 8px 0 2px -8px;
  width: 16px;
  height: 16px;
  background: url("../images/ico-nav-new.png") no-repeat;
  background-size: 32px 80px;
}
.nav_index .span {
  position: absolute;
  top: 26px;
  color: #a38d6b;
  font-size: 12px;
  text-align: center;
  height: 24px;
  margin-bottom: 4px;
}
.nav_index .span_img1 {
  background-position: left 0;
}
.nav_index .span_img2 {
  background-position: left -16px;
}
.nav_index .span_img3 {
  background-position: left -32px;
}
.nav_index .span_img4 {
  background-position: left -48px;
}
.nav_index .span_img5 {
  background-position: left -64px;
}
