<div class="loginR">
    <div class="login_register">
        <div class="login">
            <div class="opt"></div>
            <!--<form action="/api/cake/myCenterLogin" method="post">-->
            <p class="p2"><span class="fa fa-tablet"></span><input type="text" ng-model="tel" placeholder="请输入手机号"/></p>
            <p class="p2"><span class="fa fa-key"></span><input type="password" ng-model="password" placeholder="请输入密码"/></p>
            <p>* 首次登录请注册</p>
            <!--<p class="p1"><input ng-click="isSuccess()" class="btn" type="submit" value="登录 Login"/></p>-->
            <p class="p1"><button ng-click="isSuccess()" class="btn register">登录 Login</button></p>

            <!--</form>-->
            <p class="p1"><button class="btn register">注册 Register</button></p>
        </div>
        <div class="login resgister_login">
            <form action="/api/cake/myCenterRegister" method="post">
                <p class="p2"><span class="fa fa-tablet"></span><input type="text" name="tel" required maxlength="11" minlength="11" placeholder="请输入手机号"/></p>
                <p class="p2"><span class="fa fa-key"></span><input type="password" required placeholder="请输入密码"/></p>
                <p class="p2"><span class="fa fa-key"></span><input type="password" name="password" required placeholder="请再次输入密码"/></p>
                <p class="p2"><span class="fa fa-users"></span><input type="text" name="username" required placeholder="请输入姓名"/></p>
                <p class="p2"><span class="fa fa-birthday-cake"></span><input type="text" name="birthday" required placeholder="请输入生日 格式:月/日"/></p>
                <p class="p2">
                    <span class="fa fa-transgender"></span>
                    <label>
                        <input class="radio" type="radio" name="radio" value="男"/>
                        <span class="sex">男</span>
                    </label>
                    <label>
                        <input class="radio" type="radio" name="radio" value="女"/>
                        <span class="sex">女</span>
                    </label>
                </p>
                <p>* 欢迎注册</p>
                <p class="p1"><input class="btn" type="submit" value="提交 Submit"/></p>
            </form>
        </div>
    </div>
</div>

<script>
   var register=document.getElementsByClassName('register')[1];
   var login_register=document.getElementsByClassName('login_register')[0];
   var login=document.getElementsByClassName('login');
   var opt=document.getElementsByClassName('opt')[0];
   var width=login[0].offsetWidth;
    console.log(width);
   var timer=null;
    register.onclick= function () {
        opt.style.display='block';
        var step=0;
        timer=setInterval(function(){
            if(step<width){
                step+=4;
                opt.style.left=-step+'px';
                login_register.style.marginLeft=-step+'px';
            }
            if(step>=width){
                clearInterval(timer);
                step=0;
                login_register.style.marginLeft=-width+'px';
            }
        },1);
    }
</script>
