<nav class="main-car">
    <section class="main car-container">
        <section class="goods">
            <div class="no-content">
                <img src="./images/shopcar.png" alt=""/>
                <p>您还没有选购您的商品</p>
            </div>
        </section>
        <section class="container commend-goods">
            <div class="divsion">
                <h2>为您推荐</h2>
                <h3>Sincerely Recommend</h3>
            </div>
            <div class="row recommends">
                <div class="col-xs-6 recommed-item">
                    <a href="javascript:;" class="item-img">
                        <img src="./images/list_15374.jpg" alt="钻石雪域牛乳芝士蛋糕"/>
                    </a>
                    <div class="item-info">
                        <h2>钻石雪域牛乳芝士蛋糕124</h2>
                        <h3>Diamond Cheesecake</h3>
                    </div>
                    <a href="javascript:;" ng-click="addCart(124)" class="add-goods" data-goods-uid="105312"></a>
                </div>
                <div class="col-xs-6 recommed-item">
                    <a href="javascript:;" class="item-img">
                        <img src="./images/list_15468.jpg" alt="钻石雪域牛乳芝士蛋糕"/>
                    </a>
                    <div class="item-info">
                        <h2>蟹蟹你偷吃</h2>
                        <h3>Yum Yum Cake</h3>
                    </div>
                    <a href="javascript:;" class="add-goods" ng-click="addCart(123)" data-goods-uid="105312"></a>
                </div>
                <div class="col-xs-6 recommed-item">
                    <a href="javascript:;" class="item-img">
                        <img src="./images/list_15322.jpg" alt="钻石雪域牛乳芝士蛋糕"/>
                    </a>
                    <div class="item-info">
                        <h2>哈!蜜瓜蛋糕</h2>
                        <h3>Hey Melon</h3>
                    </div>
                    <a ui-sref="shopCar1" class="add-goods" data-goods-uid="105312"></a>
                </div>
                <div class="col-xs-6 recommed-item">
                    <a href="javascript:;" class="item-img">
                        <img src="./images/list_15325.jpg" alt="钻石雪域牛乳芝士蛋糕"/>
                    </a>
                    <div class="item-info">
                        <h2>芒果熔岩星球蛋糕</h2>
                        <h3>Mango Planet</h3>
                    </div>
                    <a href="javascript:;" class="add-goods" data-goods-uid="105312"></a>
                </div>
                <div class="col-xs-6 recommed-item">
                    <a href="javascript:;" class="item-img">
                        <img src="./images/list_15297.jpg" alt="钻石雪域牛乳芝士蛋糕"/>
                    </a>
                    <div class="item-info">
                        <h2>莓果绵绵蛋糕</h2>
                        <h3>Strawberry Cream Cake</h3>
                    </div>
                    <a ui-sref="shopCar1" class="add-goods" data-goods-uid="105312"></a>
                </div>
                <div class="col-xs-6 recommed-item">
                    <a href="javascript:;" class="item-img">
                        <img src="./images/list_12602.jpg" alt="钻石雪域牛乳芝士蛋糕"/>
                    </a>
                    <div class="item-info">
                        <h2>环游世界·春夏季蛋糕</h2>
                        <h3>Around The World Cake</h3>
                    </div>
                    <a ui-sref="shopCar1" class="add-goods"></a>
                </div>
            </div>
        </section>
    </section>
</nav>

