<style>
    body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color:#000;
        margin: 0;
        padding: 0;
    }
    .swiper-container {
        width: 100%;
        height: 300px;
        margin: 20px auto;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
</style>
<nav class="all">
<nav class="main-car">
   <section class="main car-container">
       <section class="goods">
           <ul>
               <li>
                   <div class="goods-message clear-fix">
                       <div class="img-wrap f-left">
                           <img src="//imagecdn.lecake.com/postsystem/docroot/images/goods/C1567A19D0F6A3F550A67798FFB81FBE.jpg" alt="钻石雪域牛乳芝士蛋糕">
                       </div>
                       <div class="goods-info">
                           <h2>
                               钻石雪域牛乳芝士蛋糕
                           </h2>
                           <h3>Diamond Cheesecake</h3>
                           <h4><span class="fork">x5</span><span class="candle">x1</span></h4>
                           <h5>￥<strong>218.00</strong></h5>
                           <div class="input-wrap">
                               <a href="javascript:void(0)" class="down rm"></a>
                               <input type="number" id="buy"  value="1" readonly>
                               <a href="javascript:void(0)" class="up"></a>
                               <input type="hidden" id="original_buy_105312" value="1">
                           </div>
                       </div>
                       <div class="more-info">
                           <h4 class="clear-fix birthday-card-btn">
                               生日牌
                               <span class="val card-text">{{a}}</span>
                           </h4>
                       </div>
                   </div>

               </li>
           </ul>       </section>
       <section class="commend-goods">
           <div class="divsion">
               <h2>精品配件</h2>
               <h3>The Accessories</h3>
           </div>
       </section>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10838.jpg" alt=""/></a>
                        <h3>餐具(5套一组)</h3>
                        <h4>￥<b>2.50</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_12278.jpg" alt=""/></a>
                            <h3>金色蜡烛</h3>
                            <h4>￥<b>10.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_12663.jpg" alt=""/></a>
                            <h3>I LOVE MAMA</h3>
                            <h4>￥<b>15.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10841.jpg" alt=""/></a>
                            <h3>I love papa</h3>
                            <h4>￥<b>15.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10847.jpg" alt=""/></a>
                            <h3>蜡烛-心形</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10883.jpg" alt=""/></a>
                        <h3>数字9蜡烛</h3>
                        <h4>￥<b>5.00</b></h4>
                    </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10880.jpg" alt=""/></a>
                            <h3>数字8蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10877.jpg" alt=""/></a>
                            <h3>数字7蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10874.jpg" alt=""/></a>
                            <h3>数字6蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10871.jpg" alt=""/></a>
                            <h3>数字5蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10868.jpg" alt=""/></a>
                            <h3>数字4蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10865.jpg" alt=""/></a>
                            <h3>数字3蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10856.jpg" alt=""/></a>
                            <h3>数字2蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10853.jpg" alt=""/></a>
                            <h3>数字1蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                </div>
                    <div class="swiper-slide">
                        <div class="swiper-cover">
                            <a ui-sref="shopCar"><img src="./images/thumb_10850.jpg" alt=""/></a>
                            <h3>数字0蜡烛</h3>
                            <h4>￥<b>5.00</b></h4>
                        </div>
                    </div>
            </div>
                <div class="swiper-pagination"></div>
         </div>

   </section>
    <section class="amount">
        <div class="a-left">
            <h3>
                总计：￥
            <span>218</span>
            </h3>
        </div>
        <a ui-sref="login" class="a-right">结算</a>
    </section>
</nav>
    <div class="cakeM">
        <div class="cakeM_top">
            <p class="dialog-message">您确定要删除钻石雪域牛乳芝士蛋糕吗？</p>
            <div class="cakeM_bottom">
                <button class="b_left">取消</button>
                <button class="b_right">确定</button>
            </div>
        </div>
    </div>
<nav class="mainCart">
    <header>
        <a href="" class="back1"><</a>
        <span>生日牌</span>
    </header>
    <main class="n_g">
     <div>
      <h2>祝福语</h2>
     </div>
        <section>
            <p>
                <input type="text" placeholder="自定义祝福语"/>
                <a href="" class="meng_c">确定</a>
            </p>
            <p>
                <input type="text" placeholder="无" readonly />
                <span ng-click="add('请填写祝福语')"></span>
            </p>
            <p>
                <input type="text" placeholder="生日快乐" readonly/>
                <span ng-click="add('生日快乐')"></span>
            </p>
            <p>
                <input type="text" placeholder="Happy Birthday" readonly  />
                <span ng-click="add('Happy Birthday')"></span>
            </p>
        </section>
    </main>
    <footer>
    </footer>
    <div class="f-m">
        <div class="meng">
            <p>请填写祝福语</p>
            <p class="sure">确定</p>
        </div>
    </div>
</nav>
</nav>

<script>
    $(function(){
        //获取购物车里input的val值
        var index=$('#buy').val();
        //控制祝福语页面的显隐;
        $('.val').click(function(){
            $('.mainCart').animate({'left':0,'transition':'1s liner','z-index':999}).siblings({'z-index':-999});

        });
        $('.back1').click(function(){
            $('.mainCart').animate({'left':'670px','transition':'1s liner'}).siblings({'z-index':999})
        });
        //点击祝福语里面的span，获取里面input的值;
        $('.n_g section span').each(function(){
            $(this).click(function(){
                $(this).css({'background':'red'});
                $('.mainCart').animate({'left':'670px','transition':'1s liner'}).siblings({'z-index':999})
            })
        });
//        祝福语里面的蒙版显隐
        $('.meng_c').click(function(){
            $('.f-m').css({'display':'block'});
        });
        $('.sure').click(function(){
            $('.f-m').css({'display':'none'});
        });
        //实现购物车数量的加减；
         $('.up').click(function(){
             console.log(index);
             index++;
             $('#buy').val(index);
             $('.down').css({'left':'1.35rem',
             'background-position': 'left -25px'});
         });
        $('.down').click(function(){
            //当商品数量为1时，顾客如果想删除，就会弹出蒙版；
            if(index==1){
                $('.cakeM').css({'display':'block','z-index':999});
                $('.b_left').click(function(){
                    $('.cakeM').css({'display':'none'});
                });
               $('.b_right').click(function(){
                   $('.cakeM').css({'display':'none'});
                   //删除localstore;
               })
            }
            else{
                index--;
                if(index==1){
                    $('#buy').val(index);
                    $('.down').css({'left':'1.35rem',
                        'background-position': 'left -50px'});
                }else{
                    $('#buy').val(index);
                }
            }

        })
    })

</script>
<script src="./components/swiper/dist/js/swiper.jquery.min.js"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        slidesPerView: 3,
        paginationClickable: true,
        spaceBetween: 30,
        freeMode: true
    })
</script>